/* .active {
    background-color: #2e04aa;
  } */
  li a:hover:not(.active) {
    background-color: rgb(10, 6, 248);
    display: block;
  }

/* hr (horizontal row) style */
.hr {
  background-color: transparent;
  border-top: 16px dotted green;
  width: 75%;
  margin: 5% auto;
}
/* input of div style */
.input-div{
  margin: 0% auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}
/* parent (div) center style */
#parent-center{
  text-align: center;
}
/* styling for individual input */
.input {
  margin: 1% 0%;
}
/* style for the body */
.body{
  background-image: linear-gradient(to bottom right,white, green, white,green, white,green);
}